:root {
  --primary: #52db8b;
  --secondary: #5ea6e0;
  --body: #222323;
  --bg: #f0f6f0;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--body);
  background: var(--bg);
  flex-direction: column;
  font-family: Lato;
}

.header {
  background: var(--body);
  color: var(--bg);
  width: 100%;
}

h1 {
  justify-self: flex-start;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

.settings {
  margin-right: 15px;
}

.settings input {
  margin-top: 10px;
}

canvas {
  max-width: calc(100vw - 20px);
  border-radius: 10px;
}
